<div class="player-bar">
  <div class="container">
    <div class="play-controls player-bar-control-group left-controls">
      <a class="previous">
        <i class="fa fa-backward"></i>
      </a>
      <a class="play-pause">
        <i class="fa fa-play"></i>
      </a>
      <a class="next">
        <i class="fa fa-forward"></i>
      </a>
    </div><!-- end of play-controls left-controls -->

    <div class="currently-playing player-bar-control-group">
      <h2>My dumb song</h2>
      <div class="seek-control">
        <div class="seek-bar">
          <div class="fill"></div>
          <div class="thumb"></div>
        </div> <!-- end of seek-bar -->
        <div class="current-time">2:30</div>
        <div class="total-time">4:45</div>
      </div> <!-- end of seek-control -->
      <h3 class="artist-name">Fallout Boy</h3>
    </div> <!-- end of currently-playing player-bar-control-group -->

    <div class="right-controls player-bar-control-group">
      <div class="volume">
        <i class="fa fa-volume-up"></i>
        <div class="seek-bar">
          <div class="fill"></div>
          <div class="thumb"></div>
        </div> <!-- end of seek-bar -->
      </div> <!-- end of volume -->

      <div class="queue-toogle">
        <a>
          <i class="fa fa-list-ul"></i>
        </a>
      </div> <!-- end of queue-toogle -->
    </div> <!-- end of right-controls player-bar-control-group -->
  </div> <!-- end of container -->
</div> <!-- end of player-bar -->